
<div class="container">
  <div class="row">
    <div class="col-md-3">
    <h1>User Info</h1>
    <%= image_tag user.get_profile_image(100,100) %>

  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
<%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary" do %>
<i class="fa-solid fa-user-gear"></i>
<% end %>

<h2>New Book</h2>



<%= form_with model: new_book do |f| %>

  <h6>Title</h6>
  <%= f.text_field :title %>

  <h6>Opinion</h6>
  <%= f.text_area :body %>

  <button type="submit" class="btn btn-success">Create Book</button>


<% end %>
