<% @books.each do |book| %>
  <div>
    <%= image_tag book.get_image %>
    <p>image：<%= image_tag 'sample-author1.jpg' %></p>
    <p>Title：<%= book.title %></p>
    <p>opinion：<%= book.body %></p>
    <p>name：<%= book.user.name %></p>
  </div>
<% end %>