<%= render 'books/list', new_book: @new_book, user: @user %>

<h1>Books</h1>
 <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>opinion</th>
    </tr>

  </thead>

<tbody>
    
    <h1>Book detail</h1>

   <tr>
     <p><%= image_tag @user.get_profile_image(100,100) %></p>
     <td><%= @book.title %></td>
     <td><%= @book.body %></td>
     
     <% if @book.user == current_user %>
     
       <%= link_to "edit", edit_book_path(@book.id) %>
       <%= link_to "destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
     <% end %>
   </tr>


</tbody>

</table>
